body {
  background: linear-gradient(135deg, rgba(253,247,247,1) 0%, rgba(255,255,255,1) 100%);
}
ul {
  list-style: none;
  margin:0;
  padding:0;
  width:inherit;
}
.App {
  font-family : 'Roboto', sans-serif;
  margin-top: 60px;
}
.footer {
  box-shadow: -8px 2px 3px #000;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  height:20px;
  line-height: 20px;
  text-align: center;
  background-color: #f9f9f9;
  padding:10px;
  color:#969696 !important;
  font-family: sans-serif;
  font-size: 12px;
}
.footer a {
  color : #969696 !important;
}

.operation-btn {
  outline: none;
  border:none;
  background: transparent;
  color: white;
  line-height:inherit;
  cursor: pointer;
  width:40px;
  height:40px;
  border-radius : 40px;
  margin: 5px 0;
}
.operation-btn > * {
  font-size: 16px;
  vertical-align: super;
}
.operation-btn:hover {
  background-color:rgb(0,0,0,0.2);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.float-right {
  float:right;
}
.float-left {
  float:left;
}
.clear-both {
  clear: both;
}