.Logo-icon {
    color: #d92a41;
    font-weight: bold;
    display: inline-block;
    margin:0 10px;
    font-size:32px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}